@import "reset.scss";

$pink: #F8DDDD;
$black: #000;

$serif: 'Playfair Display', serif;
$sans-serif: 'Montserrat', sans-serif;

// TYPE //
h2, h3, h4, h5, h6, h8, h9 {
    font-family: $serif;
}
h2 {
    text-transform: uppercase;
    font-size: 120px;
    line-height: .75;
    text-shadow:
    -1px -1px 0 $pink,  
    1px -1px 0 $pink,
    -1px 1px 0 $pink,
    1px 1px 0 $pink;
}
h3 {
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 110px;
    line-height: .75;
    text-shadow:
    -1px -1px 0 $pink,  
    1px -1px 0 $pink,
    -1px 1px 0 $pink,
    1px 1px 0 $pink;
}
h4 {
    font-size: 80px;
    line-height: 1;
    font-weight: 700;
}
h5 {
    font-size: 25px;
    font-weight: 700;
}
h6 {
    font-size: 50px;
    text-transform: uppercase;
}
h7 {
    font-family: $sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.4;
}
h8 {
    font-size: 72px;
    text-transform: uppercase;
}
h9 {
    font-size: 40px;
    text-transform: uppercase;
}
a {
    color: $pink;
    text-decoration: none;
}
a.bold-link {
    font-weight: 700;
}
// TYPE //

// GLOBAL //
.container-fluid {
    height: 100%;
    padding: 0 170px 0 55px;
}
// GLOBAL //

// ANIMATIONS //
@keyframes headerFade {
    0% {
        opacity: 0;
        transform: translateY(-85px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}
// ANIMATIONS //

body {
    -webkit-font-smoothing: antialiased;
    font-family: $sans-serif;
    font-size: 15px;
    line-height: 1.25;
    background-color: $black;
    color: $pink;
    position: relative;
    &.project {
        background-color: $pink;
        color: $black;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: $black;
    opacity: 0;
    animation: headerFade 2s ease;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    &.project {
        background-color: $pink;
        a {
            color: $black;
        }
    }
    .header-inner {
        width: 100%;
        padding: 32px 170px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        .header-branding {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .header-nav {
            display: flex;
            .nav-link {
                &:last-child {
                    margin-left: 76px;
                }
            }
        }
    }
}

section.services {
    margin: 110px 0;
    .services-inner {
        .service-content {
            .service {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:nth-child(2) {
                    margin-left: 220px;
                }
                h2 {
                    &::before {
                        content: "/";
                        margin-right: 66px;
                    }
                }
            }
        }
    }
}

section.clients {
    margin-bottom: 110px;
    .clients-inner {
        .clients-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .client {
                margin-bottom: 28px;
                a {
                    transition: all ease-in-out .3s;
                }
                .hover-image {
                    position: fixed;
                    z-index: 4;
                    pointer-events: none;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: all ease .4s;
                    transition-delay: .25s;
                }
                &:hover {
                    a {
                        text-shadow:
                        -1px -1px 0 $pink,  
                        1px -1px 0 $pink,
                        -1px 1px 0 $pink,
                        1px 1px 0 $pink;
                        color: $black;
                    }
                    .hover-image {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

section.about {
    margin: 110px 0 0 0;
    .about-inner {
        padding: 0 40px 0 200px;
        .about-content {
            opacity: 0;
            animation: fadeIn 2s ease;
            //animation-delay: .5s;
            animation-fill-mode: forwards;
            .about-copy {
                max-width: 900px;
                margin-bottom: 80px;
                h6 {
                    margin-bottom: 60px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .about-info {
                display: flex;
                justify-content: space-between;
                ul {
                    margin-bottom: 110px;
                }
            }
        }
    }
}

section.project {
    margin: 140px 0 110px 0;
    .project-inner {
        padding: 0 0 0 200px;
        .project-content {
            opacity: 0;
            animation: fadeIn 2s ease;
            //animation-delay: .5s;
            animation-fill-mode: forwards;
            .project-copy {
                margin-bottom: 110px;
                padding-right: 40px;
                h8, h9 {
                    display: block;
                }
                h8 {
                    margin-bottom: 120px;
                }
            }
            .project-image {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}

footer {
    background-color: $pink;
    color: $black;
    a {
        color: $black;
    }
    &.project {
        background-color: $black;
        color: $pink;
        a {
            color: $pink;
        }
    }
    .footer-inner {
        padding: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cta {
            max-width: 600px;
        }
        .contact {
            .contact-part {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
                p {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

.f-part {
    opacity: 0;
    transform: translateY(30px);
    transition: all ease .6s;
    &.in-viewport {
        opacity: 1;
        transform: translateY(0);
    }
}

.part {
    opacity: 0;
    transform: translateY(70px);
    transition: all ease .8s;
    &.in-viewport {
        opacity: 1;
        transform: translateY(0);
    }
}